<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>OpenID/OAuth2 Authentication Demo for ESGF</title>
    <style>
        * {
            font-family: "Arial";
        }
        a {
            text-decoration: none;
        }
        .label {
            width: 150px;
            display: inline-block;
        }
    </style>
</head>
<body>
    {% block main %}{% endblock %}
</body>
</html>
